body{
    background: #44626f;
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;    
}

.container{
    text-align: center;
}

.face{
    width: 230px;
    height:260px;
    background: #73a552;
    position: absolute;
    top:25vh;
    left:35vw;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    z-index:1000;
}

.eyes{
    width: 170px;
    height: 45px;
    background: #556839;
    position: absolute;
    top:100px;
    left:30px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius: 25px;
}
.eye-left{
    width: 55px;
    height: 35px;
    background: white;
    position: absolute;
    left:20px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.eye-right{
    width: 55px;
    height: 35px;
    background: white;
    position: absolute;
    left:105px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


.nose{
    width:50px;
    height:15px;
    border-top:7px solid #556839;
    position:absolute;
    border-radius:50%;
    top:75px;
    left:60px;
}

.mouth{
    width: 65px;
    height: 30px;
    position: absolute;
    border-top:solid 6px #546837;
    border-radius:50%;
    top:110px;
    left:65px;
}

.scratch{
    width: 90px;
    height:5px;
    background:#536936;
    position: absolute;
    top:60px;
    left:15px;
    border-radius:25px;
}

.hair{
    width: 250px;
    height: 60px;
    background:black;
    position: absolute;
    left:-10px;
    top:-40px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}